################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
/src/.vs/
/src/.vs/CefSpider/v15/Server/sqlite3
*.json
*.gitattributes
*.zip
/src/bin-Zip/bin14/logs/log2018-07-13.txt
